body {
  background-image: url("background.jpg");
  font-family: "Courier New", Courier, monospace;
  margin: 15px;
}

header {
  text-align: left;
}

.profile {
  .profile-head {
    font-size: 16px;

    .profile-head-floatable {
      float: left;
      padding: 1em;
      min-width: 20em;
      max-width: 48em;

      .profile-head-main {
        margin-top: 5px;
        font-size: 30px;
        max-width: 32em;
      }

      .profile-head-contacts {
        padding-left: 0px;
        list-style: none;
      }
    }

    .profile-head-desc {
      clear: both;
      font-size: 18px;
      font-weight: normal;
    }
  }

  .profile-image {
    float: left;
    border: none;
    padding: 1em;

    width: 16em;
  }
}

main {
  text-align: left;
}

.projects {
  padding: 15px;
  padding-left: 0px;
  min-width: 32em;
  max-width: 32em;
  /* when doing floating avatar thing */
  clear: both;
  float: left;

  .projects-ul {
    padding-left: 0;
    list-style-position: inside;
  }
}
.blog-posts {
  padding-top: 15px;
  min-width: 36em;
  max-width: 36em;
  float: left;
  .blog-posts-ul {
    padding-left: 0;
    list-style-position: inside;
  }
}

.dev-note {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/clear */
  clear: both;
}

footer {
  text-align: left;
  font-size: 10px;
  clear: both;
}
